<h1>Where am I</h1>
<form action ="/" method="POST">
<input type="hidden" name="latitude" value ="" />
<input type="hidden" name="longitude" value ="" />
<button type="submit" class="btn btn-primary btn-lg" disabled> check in </button>
</form>

{{#if error}}
<p class="text-warning">{{error}}</p>
{{/if}}
{{#if location}}
<p>
    The browser says you are at <strong>{{location.latitude}}, {{location.longitude}}</strong>.
</p>
<p>
    This lat/lon seems to equate to:
    <blockquote>{{location.address}}</blockquote>
</p>
{{/if}}

<script src="javascripts/client.js"></script>
